<!-- Add icon library -->
<br><br>
<h4></h4>
<div style="padding-left:10px;padding-right:0px;padding-top:0px;padding-bottom:0px;">
  <div class="card " style="height:600px; width:300px; ">
    <img src="assets/images/girl1.jpg" alt="John" style="width:100%"> <br><br>
    <div>

      <strong>
        {{sideuser.username}}
      </strong> <br><br>
      <strong>
        {{sideuser.email }}
      </strong>

    </div>

    <p class="title"></p>
    <p></p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <br><br><br>
    <p><button>Contact</button></p>
  </div>
</div>